body {
    margin: 0;
    background-color: #0F172A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button, textarea, input, select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    width: 65%;
    padding: 2vh 17.5%;
    background-color: var(--main-color);
    align-items: center;
}

.navbar .left img {
    height: 6vh;
    width: auto;
}

.navbar .right {
    flex-grow: 100;
    text-align: right;
}

.navbar .right a {
    font-size: 2vh;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2%;
    position: relative;
	padding-bottom: .5vh;
}

.navbar .right a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0%;
	height: .2vh;
	background-color: #fff;
	transition: width .3s ease;
}

.navbar .right a.active::after, .navbar .right a:hover::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: .2vh;
	background-color: #fff;
}

.navbar .right form {
    display: inline-block;
    margin: 0;
    margin-left: 2%;
}

.navbar .right form button[type=submit] {
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--main-color);
    font-weight: 500;
    font-size: 2vh;
    padding: .5vh 1.3vw;
    border-radius: .3vh;
    cursor: pointer;
    transition: all .3s ease;
}
.navbar .right form button[type=submit]:hover {
    scale: 1.3;
}
@media screen and (max-width: 600px), (orientation : portrait) {
    .navbar {
        width: 90%;
        padding: 2vh 5%;
    }
    .navbar .right form button[type=submit] {
        border: none;
        outline: none;
        color: #fff;
        background-color: var(--main-color);
        font-weight: 500;
        font-size: 2vh;
        padding: .5vh 5vw;
        border-radius: .3vh;
        cursor: pointer;
    }
}
.body .Blogs {
    margin: auto;
    width: 40%;
    height: 20%;
    color: white;
    font-size: 2vh;
    font-weight: 500;
    margin-top: 3%;
    padding: 10px;
    background-color: #1E293B;
    border-radius: .3vh;
    word-break: break-all;
    word-wrap: break-word;

}
.body .noBlogs {
    margin: auto;
    width: 40%;
    height: 20%;
    color: white;
    font-size: 5vh;
    font-weight: 500;
    margin-top: 3%;
    text-align: center;
    padding: 10px;
    background-color: #1E293B;
    border-radius: .3vh;
}
.body .Blogs .title {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 1%;
}
.body .Blogs .author {
    font-size: 1.5vh;
    font-weight: 400;
    display: inline-block;
    margin-right: 1%;
}
.body .Blogs .date {
    font-size: 1.5vh;
    font-weight: 400;
    display: inline-block;
}
.body .Blogs .thumb {
    cursor: pointer;
    font-size: 2vh;
    color: white;
    font-weight: 400;
    display: inline-block;
}
.body .Blogs .heart {
    cursor: pointer;
    font-size: 2vh;
    color: white;
    font-weight: 400;
    display: inline-block;
}
.body .Blogs .thumb button {
    cursor: pointer;
    font-size: 1.5vh;
    color: white;
    background: none;
    border: none;
    display: inline-block;
}
.body .Blogs .heart button {
    cursor: pointer;
    font-size: 1.5vh;
    color: white;
    background: none;
    border: none;
    display: inline-block;
}
.body .Blogs .more {
    font-size: 1.5vh;
    font-weight: 400;
    margin-top: 6.5vh;
    margin-right: 1%;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}
.body .Blogs .more i {
    color: var(--main-color);
    transition: color 1s ease;
    text-decoration: none;
}
.body .Blogs .more:hover i{
    color: #0746ab;
    text-decoration: none;
}
.body .Blogs .more a {
    color: var(--main-color);
    text-decoration: none;
    transition: color 1s ease;
}
.body .Blogs .more a:hover {
    color: #0746ab;
    text-decoration: none;
}
.body .Blogs .image {
    width: 20%;
    height: 80%;
    float: right;
    margin-top: 2%;

}
.body .Blogs .content {
    font-size: 1.8vh;
    font-weight: 400;
}
@media screen and (max-width: 600px), (orientation : portrait) {
    .body .Blogs {
        width: 90%;
        max-height: 40%;
        overflow-y: auto;
        margin-top: 3%;
    }
    .body .noBlogs {
        margin: auto;
        width: 40%;
        height: 20%;
        color: white;
        font-size: 3vh;
        font-weight: 500;
        margin-top: 10%;
        text-align: center;
        padding: 10px;
        background-color: #1E293B;
        border-radius: .3vh;
    }

    .body .Blogs .con {
        width: 50%;
        height: auto;
        float: left;
        text-align:left !important;
    }
    .body .Blogs .image {
        width: 40%;
        height: 40%;
        height: auto;
        float: right;
        margin-top: 0%;
    }
    .body .Blogs .title {
        font-size: 3vh;
        font-weight: 500;
        margin-left: 4%;
    }
    .body .Blogs .more {
        font-size: 1.5vh;
        font-weight: 400;
        margin-top: 1.1vh;
        margin-left: 2%;
    }
    .body .Blogs .author {
        font-size: 1.5vh;
        font-weight: 400;
        display: inline-block;
        margin-right: 1%;
        margin-left: 2%;
    }
    .body .Blogs .content {
        font-size: 1.4vh;
        margin-top: 3%;
        margin-left: 5%;
        font-weight: 500;
    }
    .body .Blogs .date {
        font-size: 1.5vh;
        font-weight: 400;
        display: inline-block;
    }
    .body .Blogs .thumb button {
        margin-top: -1vh;
    }
    .body .Blogs .heart button {
        margin-top: -1vh;
    }
}
.hidden {
    display: none;
}
.body .b {
    margin: auto;
    width: 40%;
    height:fit-content;
    color: white;
    font-size: 2vh;
    font-weight: 500;
    margin-top: 3%;
    padding: 10px;
    background-color: #1E293B;
    border-radius: .3vh;
    word-break: break-all;
    word-wrap: break-word;
}
.body .noBlogs {
    margin: auto;
    width: 40%;
    height: 20%;
    color: white;
    font-size: 5vh;
    font-weight: 500;
    margin-top: 3%;
    text-align: center;
    padding: 10px;
    background-color: #1E293B;
    border-radius: .3vh;
}
.body .b .title {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 1%;
}
.body .b .author {
    font-size: 1.5vh;
    font-weight: 400;
    margin-top: 10vh;
    display: inline-block;
    margin-right: 1%;
}
.body .b .date {
    font-size: 1.5vh;
    font-weight: 400;
    display: inline-block;
}
.body .b .more {
    font-size: 1.5vh;
    font-weight: 400;
    margin-top: 8vh;
    margin-right: 1%;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}
.body .b .more i {
    color: var(--main-color);
    transition: color 1s ease;
    text-decoration: none;
}
.body .b .more:hover i{
    color: #0746ab;
    text-decoration: none;
}
.body .b .more a {
    color: var(--main-color);
    text-decoration: none;
    transition: color 1s ease;
}
.body .b .more a:hover {
    color: #0746ab;
    text-decoration: none;
}
.body .b .image {
    width: 20%;
    height: 80%;
    float: right;
    margin-top: 2%;

}
.body .b .thumb {
    font-size: 2vh;
    color: white;
    font-weight: 400;
    display: inline-block;
}
.body .b .heart {
    font-size: 2vh;
    color: white;
    font-weight: 400;
    display: inline-block;
}   
.body .b .thumb button {
    font-size: 1.5vh;
    color: white;
    background: none;
    border: none;
    display: inline-block;
}
.body .b .heart button {
    font-size: 1.5vh;
    color: white;
    background: none !important;
    border: none !important;
    display: inline-block;
}
@media screen and (max-width: 600px), (orientation : portrait) {
    .body .b {
        width: 90%;
        max-height: 40%;
        overflow-y: auto;
        margin-top: 3%;
    }
    .body .noBlogs {
        margin: auto;
        width: 40%;
        height: 20%;
        color: white;
        font-size: 3vh;
        font-weight: 500;
        margin-top: 10%;
        text-align: center;
        padding: 10px;
        background-color: #1E293B;
        border-radius: .3vh;
    }

    .body .b .con {
        width: 50%;
        height: auto;
        float: left;
        text-align:left !important;
    }
    .body .b .image {
        width: 40%;
        height: 40%;
        height: auto;
        float: right;
        margin-top: 0%;
    }
    .body .b .title {
        font-size: 3vh;
        font-weight: 500;
        margin-left: 4%;
        border-bottom: 1px solid #eee;
    }
    .body .b .more {
        font-size: 1.5vh;
        font-weight: 400;
        margin-top: 8vh;
        margin-left: 2%;
    }
    .body .b .author {
        font-size: 1.5vh;
        font-weight: 400;
        display: inline-block;
        margin-right: 1%;
        margin-left: 2%;
    }
    .body .b .content {
        font-size: 1.9vh;
        margin-top: 5%;
        margin-left: 5%;
        font-weight: 400;
    }
    .body .b .date {
        font-size: 1.5vh;
        font-weight: 400;
        display: inline-block;
    }
}