RewriteEngine On
RewriteRule ^pastes/(?!index\.php|view\.php|edit\.php|edit|pastes)([^/*]+)([/]{1})?$ pastes/view.php?id=$1&slash=$2 [L]
RewriteRule ^pastes/edit/([^/*]+)([/]{1})?$ pastes/edit.php?id=$1&slash=$2 [L]